<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnative.notification">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />                       <!-- <- Add this line -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>           <!-- <- Add this line -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission android:name="com.tred.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.tred.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service android:enabled="true" android:exported="true" android:name="com.reactnative.notification.gcm.RegistrationIntentService"/>
        <service
            android:enabled="true"
            android:name="com.reactnative.notification.gcm.MyInstanceIDListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <receiver
            android:enabled="true"
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.codepath.gcmquickstart" />
            </intent-filter>
        </receiver>

        <service
            android:enabled="true"
            android:name="com.reactnative.notification.gcm.GCMNotificationListenerService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver android:name="com.reactnative.notification.NotificationEventReceiver" />
        <receiver android:name="com.reactnative.notification.NotificationPublisher" />
        <receiver android:name="com.reactnative.notification.SystemBootEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
